<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/sistemavendas</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>

        <!-- JDBC connection pool (use the built-in) MYSQL -->
        <property name="connection.pool_size">1</property>

        <!-- MYSQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- Enable Hibernate's automatic session context management gerenciamento de dialetos -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout  comando SQL-->
        <property name="show_sql">true</property>
        

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
      <!--  property name="hbm2ddl.auto">validate</property-->
             
              <!-- Mapa da tabelas -->
        <mapping class="br.com.Vendas.domain.Fornecedor"/> 
        <mapping class="br.com.Vendas.domain.Funcionario"/> 
        <mapping class="br.com.Vendas.domain.Produtos"/>
        <mapping class="br.com.Vendas.domain.Vendas"/>  
        <mapping class="br.com.Vendas.domain.Itens"/>
        

        

    </session-factory>

</hibernate-configuration>
